body{
    font-family: var(--font-family);
}
.users__name {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
}

.users__profession {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--grey2);
    white-space: nowrap;

}
.sugestion__title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.post__titles {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;

}

.post__content {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 1rem;
}
.text1{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
}
.text2--bold{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.75rem;

}
